<h1>Edit vendor</h1>

<form id="edit-vendor" name="vendor">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Vendor" />
  </div>

</form>

<a href="#/index">Back</a>
