<!--find me in templates/transacion.jst.ejs<br>-->
<button id="new-transaction">New</button>

<table>
	<thead>
		<tr>
			<td style="margin: 3px; border: 1px solid grey;">Vendor</td>
			<td style="margin: 3px; border: 1px solid grey;">Category</td>
			<td style="margin: 3px; border: 1px solid grey;">Amount</td>
			<td style="margin: 3px; border: 1px solid grey;">Date</td>
			<td style="margin: 3px; border: 1px solid grey;">Cleared</td>
			<td style="margin: 3px; border: 1px solid grey;">Recurring</td>
			<td style="margin: 3px; border: 1px solid grey;">Deposit</td>
			<td style="margin: 3px; border: 1px solid grey;"></td>
		</tr>
	</thead>
	<tbody id="ledger-tbody">
	
	</tbody>
</table>

