<!--find me in templates/transacion.jst.ejs<br>-->

<table>
	<thead>
		<tr>
			<td style="margin: 3px; border: 1px solid grey;">ID</td>
			<td style="margin: 3px; border: 1px solid grey;">Date</td>
			<td style="margin: 3px; border: 1px solid grey;">Amount</td>
			<td style="margin: 3px; border: 1px solid grey;">Cleared</td>
			<td style="margin: 3px; border: 1px solid grey;">Recurring</td>
			<td style="margin: 3px; border: 1px solid grey;">Deposit</td>
			<td style="margin: 3px; border: 1px solid grey;">Ledger Month</td>
		</tr>
	</thead>
	<tbody>

	</tbody>
</table>

