.content {
  padding: 70px 70px 0 70px;
  background: #ffffff;
  margin: 0 auto;
  width: 80%;
  overflow:hidden;
  z-index: 0;
}

.content-bg{
  background: url("seasons-bg.png") 00% 100% repeat-x !important;
  background-size:cover;
  position: relative;
  z-index: 1;
  left:-70px;
  //right: -70px;
  //top:-70px;
  //bottom: 0px;
  //height: 1000px;
  width:1000%;
  height:80px;
  color: transparent;
  overflow: hidden;
  //padding: 70px;
}

.date{
  position:absolute;
  color:transparent;
  background: transparent !important;
}

.content-inner, .content-inner-2 {
  position: relative;
  z-index:3
}

h2 {
  float: right;
  color: #db4865;
}

.table-odd {
  background-color: #f0f0f0;
  color: #484848;
}

.table-even {
  background-color: #ffffff;
  color: #484848;

}

.checkbox{
  font-weight: normal !important;
}

.green{
  color: #11aa11;
}

.blue{
  color: #0361ff;
}

.dark-gray{
  color: #333333;
}

#balance-container {
  position: fixed;
  top: 13px;
  left: 38%;
  width: 22em;
  border: 1px solid #bbb;
  background-color: white;
  color: #555;
  border-radius: .3em;
  padding: 2px 8px;
  z-index: 900;
}

#ledger-balance-container {
  display: inline-block;
  text-align: center;
}

#bank-balance-container {
  display: inline-block;
  text-align: center;
  float: right;
}

#action-btn-header {
  position: fixed;
  z-index: 900;
  top: 38px;
  right: 20px;
}