// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
//table.display thead th div.DataTables_sort_wrapper {
//  position: relative;
//  padding-right: 20px;
//  padding-right: 20px;
//}
//
//table.display thead th div.DataTables_sort_wrapper span {
//  position: absolute;
//  top: 50%;
//  margin-top: -8px;
//  right: 0;
//}

.date{
  background: inherit;
  border: none;
}

.red {
  background-color: red;
  color: green;
  border: 3px solid blue;
}

#nameTooltip{
  position:absolute;
}