<!--<p id="notice"><%#= notice %></p>-->
<!--<%# set_balances %>-->

<!--<div id='balance-container'>-->
  <!--<div id='ledger-balance-container'>-->
    <!--Heather's Balance:-->
    <!--<div id="ledger-balance" data-balance="<%#= @ledger_balance %>"><%= number_to_currency(@ledger_balance) %> </div>-->
  <!--</div>-->

  <!--<div id='bank-balance-container'>-->
    <!--Bank Balance:-->
    <!--<div id="bank-balance" data-balance="<%#= @bank_balance %>"><%= number_to_currency(@bank_balance) %> </div>-->
  <!--</div>-->
<!--</div>-->

    <!--<%#= render partial: 'month' %>-->

<% logger.info "===============IN VIEW #{@transactions.inspect}" %>


<div id="app-content">This is where you app content will be rendered.</div>

<%#= javascript_include_tag "application" %>

<script>
    $(document).ready(function() {
        // App Initialization

        var options = {};
        options.username = "jlucio"; // <%#= session[:username] %>
		
		
		
        Finances.init(options);

    });
</script>



<!--<div id="action-btn-header" class="btn-group">-->
  <!--<button id='prev-month-btn'  class="right btn">-->
    <!--<i class='icon-chevron-left'></i></button>-->

  <!--<button id='new-trans-btn' class="btn green">-->
    <!--<i class='icon-plus-sign icon-white'></i> New</button>-->

  <!--<button id='next-month-btn' class="left btn">-->
    <!--<i class='icon-chevron-right'></i></button>-->
<!--</div>-->

<!--<%#= javascript_include_tag 'transactions.js' %>-->